@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

/* Centraliza tudo na tela */
body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./image/take 3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

/* Escurece APENAS o fundo */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* ajuste aqui */
  z-index: 0; /* fundo */
}

/* Coloca o card acima do overlay */
.login-container {
  position: relative;
  z-index: 1;
}


/* Container do login */
.login-container {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

/* Título */
h1 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #E8BF6C;
  text-transform: uppercase;
}

/* Grupos */
.form-group {
  margin-bottom: 15px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 20px;
  font-size: 14px;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background: #E8BF6C;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #e3a832;
}

/* Link cadastro */
p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #E8BF6C;
  text-decoration: underline;
}   
